<div class="content-box chatbox">
  <div class="cb-head">
    <h1 class="chat-header error">Chat not found</h1>
  </div>
  <div class="cb-main error">
    <p class="error-message">This chat room does not exist<br>It might have been deleted</p>
  </div>
  <div class="cb-input"></div>
</div>
