<div class="content-box chatbox">
  <div class="cb-head">
    <h1 class="chat-header"><%= chat.name %></h1>
  </div>
  <div class="cb-main messages">
    
  </div>
  <div class="cb-input">
    <input type="text">
  </div>
</div>
