<div class="content-box newchat">
  <form method ="post" enctype="application/x-www-form-urlencoded">
    <label>
      Chat name
      <input name="chat-name" type="text" maxlength="30">
    </label>
    <label>
      Visibility
      <select name="chat-visibility">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </label>
    <button type="submit">Create</button>
  </form>
</div>
