<div class="content-box newchat">
  <form id="new-chat-form" action="javascript:void(0)">
    <label>
      Chat name
      <input name="chat-name" type="text" required minlength="3" maxlength="50">
    </label>
    <label>
      Visibility
      <select name="chat-visibility">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </label>
    <button id="new-chat-create-btn" type="submit">Create</button>
  </form>
  <div id="new-chat-error-msg" class="shrink hidden"></div>
</div>
