.chatbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  .cb-head {
    background-color: hsl(255, 20%, 12%);
    border-bottom: calc(0.1em + 2px) solid hsl(255, 30%, 15%);
    .chat-header {
      text-align: center;
      font-weight: bold;
      margin: 0.3em 40px;
      &.error {
        color: lightcoral;
      }
    }
  }
  .cb-main {
    flex-grow: 1;
    background-color: hsl(255, 20%, 6%);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    &.error {
      justify-content: center;
      .error-message {
        text-align: center;
        color: lightcoral;
        font-size: 2em;
        line-height: 1.7;
      }
    }
    &.messages {
      .message {
        margin: 0.25em 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: start;
        .timestamp {
          color: hsl(75, 7%, 45%);
          white-space: nowrap;
        }
        .author {
          margin-left: 0.65em;
          color: hsl(75, 75%, 55%);
          white-space: nowrap;
          transition: opacity 0.2s;
          opacity: 1;
          &.empty {
            opacity: 0;
          }
        }
        .content {
          color: hsl(75, 30%, 90%);
          margin-left: 0.75em;
        }
      }
    }
  }
  .cb-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 3px 8px;
    gap: 10px;
    #send-message-form {
      display: contents;
      #send-message-text {
        flex-grow: 1;
      }
      #send-message-btn {
        flex-grow: 0;
      }
    }
  }
}
