:root {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #eeeeee;
  background-color: hsl(255, 10%, 2%);
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  color: #eeeeee;
}

nav#topbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;


  background-color: hsl(255, 10%, 15%);
  padding: 10px 30px;
  font-size: 1.3em;

  a.nav-button {
    font-size: inherit;
    cursor: pointer;
    color: hsl(75, 40%, 95%);
    text-decoration: none;
    background-color: hsl(75, 20%, 22%);
    border: 0.2em solid hsl(75, 20%, 30%);
    border-radius: 0.2em;
    padding: 0.15em 0.3em;
    transition: background-color 0.5s, border-color 0.5s;
    &:hover {
      background-color: hsl(75, 30%, 32%);
      border-color: hsl(75, 30%, 40%);
    }
  }
}

main, noscript#page-nojs {
  flex-grow: 1;
  padding: calc(1.5em + 20px) calc(2em + 30px);
}

noscript#page-nojs {
  align-content: center;
  align-self: center;
  color: orange;
  font-size: 1.4em;
  font-weight: bold;
}

.content-box {
  margin: 0;
  border: calc(0.1em + 2px) solid hsl(255, 30%, 15%);
  border-radius: 0.5em;
  button {
    background-color: hsl(75, 20%, 20%);
    color: hsl(75, 50%, 90%);
    border: none;
    border-radius: 0.2em;
    padding: 0.4em 0.8em;
    &[disabled] {
      background-color: hsl(75, 0%, 10%);
      color: hsl(75, 0%, 75%);
    }
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 1.75em;
  label {
    width: fit-content;
    min-width: 25em;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
  }
  button {
    margin: 0.5em 0 1em;
  }
  .error-msg {
    display: grid;
    box-sizing: border-box;
    border-style: solid;
    border-color: hsl(0, 65%, 60%);
    border-radius: 0.4em;
    background-color: hsl(0, 20%, 10%);
    padding: 0 1.2em;
    width: fit-content;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: display, padding-top, padding-bottom, border-width, grid-template-rows;
    transition-behavior: allow-discrete;
    &.grow {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      border-width: 2px;
      grid-template-rows: minmax(0, 1fr);
    }
    &.shrink {
      padding-top: 0;
      padding-bottom: 0;
      border-width: 0;
      grid-template-rows: minmax(0, 0fr);
    }
    &.hidden {
      display: none;
    }
  }
}
