<nav id="topbar">
  <ul class="navbar start">
    <li><a class="nav-button" href="/">Home</a></li>
    <li><a class="nav-button" href="/chat/new">New chat</a></li>
  </ul>
  <ul class="navbar end">
    <li><a class="nav-button" href="/settings">Settings</a></li>
  </ul>
</nav>
